/*
* @Author: Administrator
* @Date:   2020-05-25 17:38:14
* @Last Modified by:   Administrator
* @Last Modified time: 2020-05-25 19:26:32
*/
body {
    font-family: Helvetica, Arial;
    margin: 0;
}
#box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 100px;
    margin: -4px auto;
    width: 430px;
}
#player {
    position: relative;
    height: 100%;

    z-index: 3;

}
.button {
    width: 61px;
    height: 26px;
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.button i {
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button,
.button i {
    transition: 0.2s ease all;
}

.button:hover {
    background-color: #d6d6de;
}

.button:hover i {
    color: #fff;
}
.control {
    width: 33.333%;
    float: left;
    padding: 12px 0;
}
#player-controls {
	width: 350px;
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}